<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <form action="/members/new" role="form" method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="이름을 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="email">이메일주소</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="이메일을 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호 입력">
        </div>
        <div class="form-group">
            <label th:for="passwordConfirm">비밀번호 재입력</label>
            <input type="password" class="form-control" placeholder="비밀번호 재입력">
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="주소를 입력해주세요">
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">Submit</button>
        </div>
    </form>


</div>

</html>